<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSCameraUsageDescription</key>
	<string>Physically needs camera access to detect your squats.</string>
	<key>NSFamilyControlsUsageDescription</key>
	<string>Physically needs access to block apps until you complete your workout.</string>
</dict>
</plist>
